<% flash.each do |type, message| %>
  <% css_class = case type.to_s
     when "notice", "success" then "flash flash-success"
     when "alert", "error"    then "flash flash-error"
     else "flash flash-info"
     end %>
  <div class="<%= css_class %>" role="alert">
    <span class="material-symbols-outlined">
      <%= type.to_s.in?(%w[alert error]) ? "error" : "check_circle" %>
    </span>
    <span><%= message %></span>
    <button class="flash__close" type="button" aria-label="Dismiss">
      <span class="material-symbols-outlined" style="font-size:18px">close</span>
    </button>
  </div>
<% end %>
